.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.salmon {
    background-color: lightsalmon;
}

.tan {
    background-color: tan;
}

.container {
    border: 2px solid black;
}